.css-zrlv9q {
  padding: 0 !important;
}
.css-1g0ognt {
  min-width: 31px !important;
}
.css-1g0ognt,
.css-1cjtuh7 {
  width: calc(60 * 1px) !important;
  flex: 0 0 auto !important;
}

.css-1cjtuh7 {
  min-width: 31px !important;
}

.css-1j3l8kj {
  justify-content: center !important;
}

.rez_donji_dio {
  /*min-height: 165px;
   max-height: 65vh; */
  height: 45%; /* 395px; */
  border: 1px solid rgb(170, 170, 170);
  overflow-y: scroll;
  border-radius: 4px;
}

.rez_table,
.rez_row {
  display: grid;
  grid-template-columns:
    minmax(160px, 1fr) minmax(160px, 1fr) minmax(270px, 1fr)
    minmax(160px, 1fr);
}

.tabela_red {
  display: grid;
  grid-template-columns: 115px 120px 210px 80px 30px 1fr 100px 170px 170px;
}

.tabela_red div:nth-child(6) {
  padding-left: 0.25em;
}

.rez_table {
  border-bottom: 1px solid rgb(170, 170, 170);
}

.rez_donji_dio h5 {
  margin: 0.5em 1em 0.25em 1em;
}

.rez_donji_dio p {
  margin: 0.25em 1em 0.25em 1em;
}

.rez_donji_dio p {
  font-size: 0.8em;
  font-weight: bold;
}

.donja_tabela {
  /* width: 98%; */
  font-size: 0.9em;
  margin-inline: 1em;
}

.tabela_header {
  border-bottom: 1px solid rgb(170, 170, 170);
  background-color: white;
  position: sticky;
  top: 0;
}

.tabela_red {
  padding: 0;
  text-align: left;
}
