.pacijent_container {
  display: grid;
}

.pozadina_polja {
  border-radius: 5px;
  background-color: rgba(239, 240, 235, 0.2);
  border: 1px solid var(--color-gray-50);
  /* margin-top: 0.5em; */
  padding-block-start: 0.75em;
  padding-inline: 0.5em;
}

.provjera {
  display: flex;
  /* flex: 1 1 50%; */
  flex-direction: row;
  padding: 0.5vw; /* 1em; */
  gap: 1em;
  /* align-content: center; */
  height: max-content;
}

.podaci_container {
  display: grid;
  grid-template-columns: 1fr 35%;
  gap: 0.3vw;
  overflow-y: auto !important;
}

.maticni_podaci {
  display: flex;
  flex-direction: column;
  gap: 1vh; /*0.75em;*/
  width: 100%;
}

.maticni_podaci > div {
  display: flex;
  gap: 0.3vw;
}

.maticni_podaci > div > div {
  flex: 1 1 100% !important;
}

.uputnica {
  padding-inline: 0.5em !important;
}

.usluga > div:first-child > div:first-child {
  flex: 1 2 100% !important;
}

.css-p0rm37 {
  top: -7px !important;
}

.prvi_red {
  display: grid !important;
  grid-template-columns: 1fr 1fr 230px;
}

.drugi_red {
  display: grid !important;
  grid-template-columns: 1fr max-content max-content;
}

.treci_red {
  display: grid !important;
  grid-template-columns: 1fr max-content 220px;
}

.cetvrti_red {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 3fr;
}

.peti_red > div:nth-child(n + 3):nth-child(-n + 4) {
  /* flex: 0 1 75% !important;*/
  width: auto;
}
.peti_red {
  display: grid !important;
  grid-template-columns: 150px max-content 1fr;
}

.sesti_red {
  display: grid !important;
  grid-template-columns: 160px 1fr 220px;
}

.sedmi_red {
  display: flex;
  flex-basis: 50%;
  align-items: center;
}

.prvi_red,
.drugi_red,
.treci_red,
.peti_red,
.sesti_red {
  gap: 0.3vw;
  align-items: start;
}

.button_container {
  justify-content: flex-end;
  gap: 1em;
  margin: 0.5em;
}

.pacijent_label {
  color: rgb(6, 123, 194);
  margin: 0.6vw 0 0.3vw 0.9vw; /*1em 0 0.5em 1em;*/
  font-size: 1.1vw; /*1.25em;*/
}

.porodicni {
  margin: 0 0 0.5em 1em;
  font-size: 0.85vw; /*1em;*/
}

.css-fyswvn {
  font-weight: bold !important;
}
