.brpk_klinika_body {
  border: 1px solid var(--color-gray-200);
  border-radius: 0.25em;
  margin-bottom: 0.5em;
}

.brpk_klinika {
  margin-block: 0.5em;
  padding-left: 4.5em;
  font-size: larger;
}

.brpk_klinika,
.brpk_klinika_naziv {
  color: var(--color-primary-475);
  font-weight: 700;
}

.brpk_klinika_naziv {
  margin-block: 0.25em;
}

.brpk_table,
.brpk_row {
  display: grid;
  grid-template-columns: 100px minmax(max-content, 1fr) 240px;
}

.brpk_row {
  border-bottom: 1px dashed var(--color-gray-200);
}

/* .brpk_row.last-row {
  border-bottom: none;
} */

.brpk_row p {
  margin-block: 0.25em;
}

.brpk_table {
  border-bottom: 1px solid var(--color-gray-200);
  border-top: 1px solid var(--color-gray-200);
  font-weight: 700;
}

.brpk_ukupno,
.brpk_ukupno_klinika {
  font-weight: 700;
  color: var(--color-error-600);
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 160px;
}

.brpk_ukupno {
  border-top: 1px solid var(--color-gray-200);
}

.brpk_ukupno_klinika {
  border: 1px solid var(--color-gray-200);
  border-radius: 0.25em;
  font-size: large;
}

.brpk_ukupno p,
.brpk_ukupno_klinika p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.brpk_ukupno p:first-of-type,
.brpk_ukupno_klinika p:first-of-type {
  text-align: right;
  padding-right: 1em;
}

.brpk_table div:first-of-type,
.brpk_klinika_naziv,
.brpk_row p:first-of-type {
  padding-inline-start: 0.5em;
}

.brpk_row p:first-of-type {
  text-align: center;
}

.brpk_table div:last-of-type,
.brpk_row p:last-of-type,
.brpk_ukupno p:last-of-type,
.brpk_ukupno_klinika p:last-of-type {
  padding-inline-end: 0.5em;
}

.brpk_table div:nth-child(n + 3),
.brpk_ukupno p:nth-child(n + 2),
.brpk_ukupno_klinika p:nth-child(n + 2),
.brpk_row p:nth-child(n + 3) {
  text-align: right;
}
