.izvjestaj_body h3 {
  color: var(--color-primary-475);
}

.realizacija_table,
.realizacija_row {
  display: grid;
  grid-template-columns: 120px minmax(max-content, 1fr) 160px 120px 140px;
}

.realizacija_table {
  border-bottom: 1px solid var(--color-gray-200);
  border-top: 1px solid var(--color-gray-200);
  font-weight: 700;
}

.realizacija_row p {
  margin-block: 0.25em;
}

.realizacija_row {
  border-bottom: 1px dashed var(--color-gray-200);
}

.realizacija_ukupno {
  font-weight: 700;
  color: var(--color-error-600);
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 140px;
  border-top: 1px solid var(--color-gray-200);
  border-bottom: 1px solid var(--color-gray-200);
}

.realizacija_ukupno p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.realizacija_ukupno p:first-of-type {
  text-align: right;
  padding-right: 1em;
}

.realizacija_table div:nth-child(3),
.realizacija_row p:nth-child(3) {
  text-align: center;
}

.realizacija_table div:nth-child(n + 4),
.realizacija_ukupno p:nth-child(n + 2),
.realizacija_row p:nth-child(n + 4) {
  text-align: right;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}
