.zbgrupe_table,
.zbgrupe_row {
  display: grid;
  grid-template-columns: 100px minmax(min-content, 1fr) 130px 130px 120px 130px 140px 130px 120px;
}

.zbgrupe_table {
  border-bottom: 1px solid var(--color-gray-200);
  border-top: 1px solid var(--color-gray-200);
  font-weight: 700;
  align-items: center;
}

.zbgrupe_table div {
  align-content: center;
}

.zbgrupe_row p,
.zbgrupe_row_ukupno p {
  margin-block: 0.25em;
}

.zbgrupe_row {
  border-bottom: 1px dashed var(--color-gray-200);
}

.zbgrupe_table div:first-of-type,
.zbgrupe_row p:first-of-type {
  padding-inline-start: 0.5em;
}

.zbgrupe_table div:last-of-type {
  padding-inline-end: 0.5em;
}

.zbgrupe_table div:nth-child(n + 3) {
  text-align: center;
}

.zbgrupe_row p:nth-child(n + 3),
.zbgrupe_row_ukupno p {
  text-align: right;
  padding-inline-end: 0.5em;
}

.zbgrupe_table div:nth-child(n + 2),
.zbgrupe_row p:nth-child(n + 2),
.zbgrupe_row_ukupno p {
  border-right: 1px solid var(--color-gray-200);
  height: 100%;
}

.zbgrupe_row_ukupno {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) 130px 130px 120px 130px 140px 130px 120px;
  border-bottom: 1px solid var(--color-gray-200);
  border-top: 1px solid var(--color-gray-200);
}

.zbgrupe_row_ukupno p:first-child {
  font-weight: bold;
  font-size: 1.1em;
}

@media print {
  .zbgrupe_table,
  .zbgrupe_row {
    grid-template-columns: 100px minmax(450px, 1fr) 130px 130px 120px 130px 140px 130px 120px;
  }
}
