.zbukupno_table,
.zbukupno_row {
  display: grid;
  grid-template-columns: 100px minmax(max-content, 1fr) 160px;
  border-bottom: 1px solid var(--color-gray-200);
}

.zbukupno_table {
  border-top: 1px solid var(--color-gray-200);
  font-weight: 700;
  align-items: center;
}

.zbukupno_table div {
  align-content: center;
}

.zbukupno_row p,
.zbukupno_ukupno p {
  margin-block: 0.25em;
}

.zbukupno_table div:first-of-type,
.zbukupno_row p:first-of-type {
  padding-inline-start: 0.5em;
  border-left: 1px solid var(--color-gray-200);
  height: 100%;
}

.zbukupno_table div:last-of-type {
  padding-inline-end: 0.5em;
}

.zbukupno_table div:nth-child(n + 3) {
  text-align: center;
}

.zbukupno_row p:nth-child(n + 3),
.zbukupno_ukupno p {
  text-align: right;
  padding-inline-end: 0.5em;
}

.zbukupno_table div:nth-child(n + 2),
.zbukupno_row p:nth-child(n + 2),
.zbukupno_ukupno p {
  border-right: 1px solid var(--color-gray-200);
  height: 100%;
}

.zbukupno_ukupno {
  display: grid;
  grid-template-columns: 1fr 160px;
  border-bottom: 1px solid var(--color-gray-200);
  border-left: 1px solid var(--color-gray-200);
}

.zbukupno_ukupno p:first-child {
  font-weight: bold;
  font-size: 1.1em;
}

/* OVO TREBA DORADITI*/
/* @media print {
  .zbukupno_table,
  .zbukupno_row {
    grid-template-columns: 1fr 140px 140px;
  }
} */
