.label_privilegija_container {
  display: flex;
  position: relative;
  padding-left: 1.5em;
  margin-left: 0.5em;
  margin-bottom: 0.5em; /*zbijenost checkbox-ova u koloni*/
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.label_privilegija_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.naziv_privilegije {
  margin: 0;
  display: flex;
  font-size: 1em;
  font-family: "Inter", sans-serif;
}

.checkmark_privilegije {
  position: absolute;
  top: 3px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--color-primary-300);
}

.label_privilegija_container input ~ .checkmark_privilegije_disabled {
  cursor: not-allowed;
}

.label_privilegija_container:hover input ~ .checkmark_privilegije {
  background-color: var(--color-labos-150);
}

.label_privilegija_container input:checked ~ .checkmark_privilegije {
  background-color: var(--color-primary-300);
}

.checkmark_privilegije:after {
  content: "";
  position: absolute;
  display: none;
}

.label_privilegija_container input:checked ~ .checkmark_privilegije:after {
  display: block;
}

.label_privilegija_container .checkmark_privilegije:after {
  left: 5px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
